body {
    font-family: 'Open Sans', sans-serif;
  }
  
  p {
    font-size: 13px;
    color: #7a7a7a;
    line-height: 24px;
  }
  
  .page-content {
    width: 77.5%;
    float: right;
  }
  
  .content-section {
    padding-top: 80px;
    position: relative;
    width: 100%;
    display: inline-block;
    height: auto;
    left: 50%;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .section-heading {
    text-align: left;
    position: relative;
    margin-bottom: 60px;
  }
  
  .section-heading h1 {
    margin-top: 0px;
    font-size: 32px;
    color: #232323;
    display: inline-block;
    margin-right: 50px;
  }
  
  .section-heading em {
    font-style: normal;
    font-weight: 700;
    color: #45489a;
  }
  
  .section-heading p {
    display: inline-block;
    font-size: 15px;
    line-height: 26px;
    color: #343434;
    position: absolute;
    top: 12.5px;
  }
  
  .white-button a {
    font-size: 13px;
    font-weight: 600;
    color: #45489a;
    text-transform: capitalize;
    background-color: #fff;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    padding: 0px 25px;
    letter-spacing: 0.25px;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  .white-button a:hover {
    background-color: #45489a;
    color: #fff;
  }
  
  .accent-button a {
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    background-color: #45489a;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    padding: 0px 25px;
    letter-spacing: 0.25px;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  .accent-button a:hover {
    background-color: #fff;
    color: #45489a;
  }
  
  header {
      position: fixed;
      top: 0;
      transition: top 0.3s ease-in-out;
      width: 100%;
  }
  
  .nav-up {
      top: -75px;
  }
  
  /* Responsive Navigation */
  
  .responsive-nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 80px;
    background-color: rgba(250,250,250,.95);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  }
  
  .navbar-toggle {
    position: absolute;
    top: 40%;
    left: 50%;
    display: inline-block;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .navbar-nav {
    margin: 0;
    border: none;
  }
  
  #main-nav ul {
    text-align: center;
    background-color: rgba(0,0,0,0.9);
    margin-top: 59px;
    width: 100%;
  }
  #main-nav ul li {
    margin: 15px 0px;
  }
  #main-nav ul li:hover {
    background-color: transparent;
  }
  #main-nav ul li a {
    font-size: 15px;
    text-transform: capitalize;
    color: #fff;
    box-shadow: none;
    border: none;
  }
  
  #main-nav ul li a:hover {
    opacity: 0.5;
    background-color: transparent;
  }
  
  .navbar-toggle span {
    background-color: #232323;
  }
  
  
  /* Sidebar Style */
  
  .sidebar-navigation {
    width: 22.5%;
    float: left;
    height: 100%;
    position: fixed;
    background-color: rgba(12,12,12,0.9);
    z-index: 10;
  }
  
  .sidebar-navigation .logo {
    position: absolute;
    width: 100%;
    height: 140px;
    line-height: 100px;
    background-color: #45489a;
    padding: 20px;
    text-align: center;
  }
  
  .sidebar-navigation .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    height: 100px;
    width: 100%;
    display: inline-block;
    border: 1px solid rgba(250,250,250,0.5);
  }
  
  .sidebar-navigation .logo em {
    font-style: normal;
    font-weight: 300;
  }
  
  .sidebar-navigation nav {
    position: relative;
    top: 60%;
    left: 60%;
    -webkit-transform: translateX(-60%) translateY(-60%);
    -moz-transform: translateX(-60%) translateY(-60%);
    -ms-transform: translateX(-60%) translateY(-60%);
    -o-transform: translateX(-60%) translateY(-60%);
    transform: translateX(-60%) translateY(-60%);
  }
  
  .sidebar-navigation ul {
    margin-left: 45px;
    list-style: none;
    padding: 0;
  }
  .sidebar-navigation li{
    padding: 10px 0;
  }
  .sidebar-navigation span{
    display: inline-block;
    position:relative;
  }
  .sidebar-navigation nav a{
    display: inline-block;
    color: #fff;
    margin-top: 5px;
    text-decoration: none!important;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
  }
  .circle{
    margin-right: 5px;
    height: 10px;
    width: 10px;
    left: 0px;
    top: -1px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    transition: all 0.3s;
  }
  .rect{
    height: 1px;
    width: 0px;
    left: 0;
    bottom: 5.5px;
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.1s, width 0.6s;
    -moz-transition: -webkit-transform 0.1s, width 0.6s;
    transition: transform 0.1s, width 0.6s;
  }
  .sidebar-navigation nav a:focus {
    color: #fff;
  }
  .sidebar-navigation nav a:hover, nav .active-section {
    color: #fff;
  }
  .sidebar-navigation nav a:hover span, nav .active-section span{
    background-color: #ddd;
  }
  .sidebar-navigation nav .active-section .rect{
    width: 30px;
  }
  .sidebar-navigation nav .active-section .circle{
    background-color: #fff;
  }
  
  .sidebar-navigation .social-icons {
    position: absolute;
    width: 100%;  
    bottom: 10px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .sidebar-navigation .social-icons li {
    display: inline-block;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .sidebar-navigation .social-icons li:last-child {
    margin-right: 0px;
  }
  
  .sidebar-navigation .social-icons li a {
    font-size: 18px;
    color: #fff;
    transition: all 0.5s;
  }
  
  .sidebar-navigation .social-icons li a:hover {
    color: #45489a;
  }


  /* Home Page */
  
  .item .image {
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: block;
  }
  
 .item .image {
    background-image: url(../img/prism3.jpg);
    background-repeat:no-repeat;
    filter:contrast(.7) brightness(.7);  
  }  
  
 .item .image {
    animation: zoomin 12s ease-in-out infinite alternate;
    -webkit-animation: zoomin 12s ease-in-out infinite alternate;
  
  }
  
  @keyframes zoomin {
      0% {-webkit-transform: scale(1);}
      100% {-webkit-transform: scale(1.2);}
  }
  
  .info {
    text-align: right;
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 10%;
    left: 60%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
  }
  .info h1 {
    margin-top: 0px;
    margin-bottom: 15px;

    font-size: 48px;
    color: #fff;
    font-weight: 700;
  }
  
  .info p {
    font-size: 15px;
    color: #fff;
  }